<div layout="column" layout-align="start center">
    <div style="margin-top: 10px;">
        <div layout="column" layout-align="start start"
             ng-show="hints.length > 0"
             ng-attr-style="{{hints.error || hints.warning ? 'margin-bottom:10px;' : ''}}">
        <span ng-repeat="hint in hints" ng-attr-class="{{hint.level}}">
            <i class="material-icons md-18">{{hint.level}}</i>
            {{hint.message}}
        </span>
        </div>
        <div layout="column" layout-align="start start" style="margin-bottom: 10px;" ng-hide="hints.error || hints.warning">
        <span class="success">
            <i class="material-icons md-18">check_circle</i>
            No possible problems found.
        </span>
        </div>
    </div>
</div>