<div class="md-toolbar-tools">
    <i class="material-icons">settings</i>
    <h2 flex>&nbsp;Cr4zyPi3t's Star Citizen Config Tool</h2>
    <!--<md-button class="md-icon-button" ng-click="debug = !debug">
        <md-tooltip md-direction="bottom">Enable/Disable Debugging</md-tooltip>
        <i class="material-icons">bug_report</i>
    </md-button>-->
    <md-button class="md-icon-button" ng-click="showHelp()">
        <md-tooltip md-direction="bottom">Help</md-tooltip>
        <i class="material-icons">help</i>
    </md-button>
    <md-button class="md-icon-button" ng-click="showDonate()">
        <md-tooltip md-direction="bottom">Support me</md-tooltip>
        <i class="material-icons">payment</i>
    </md-button>
    <md-button class="md-icon-button" ng-click="showInfo()">
        <md-tooltip md-direction="bottom">Info</md-tooltip>
        <i class="material-icons">info</i>
    </md-button>
</div>